.item-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: white;

    &__col-1 {
        display: flex;
        flex-direction: column;

        &__action-container {
            display: block;
            box-sizing: border-box;
            padding: 24px;
        }

        &__image-container {
            display: flex;
            justify-content: center;

            img {
                width: 70%;
                height: 70%;
            }
        }

        &__description-container {
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0 24px;
            padding-bottom: 18px;

            p {
                font-size: 16px;
                color: $meli-grey2;
            }

        }

    }

    &__col-2 {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 24px;
        
        h1 {
            font-family: sans-serif;
            font-size: 24px;
        }

        &__price {
            display: inline-flex;
            font-size: 14px;
            font-family: sans-serif;

            &__amount {
                margin-top: 0;
                font-size: 44px;
            }

            &__decimals {
                margin-top: 0;
                font-size: 22px;
                line-height: 1.7;
            }

        }

        &__subtitle {
            display: inline-flex;
            color: $meli-grey2;
            font-size: 14px;
            font-family: sans-serif;
        }

        &__action-container {
            display: none;
        }
    }

    button {
        background-color: #3483fa;
        border-color: transparent;
        color: #fff;
        border-radius: 6px;
        display: inline-block;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600;
        height: 48px;
        line-height: 48px;
        padding: 0 24px;
        text-align: center;
        width: 100%;
        cursor: pointer;
    }
}