.form {
    width: 100%;
    display: inherit;

    input {
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
        border: none;
        box-sizing: border-box;
        position: relative;
        height: 40%;
        width: 100%;
        height: 2rem;
        padding-left: 16px;
        
        &:focus {
            outline: none;
        }

    }

    button {
        background: url("/icons/meli-search.svg");
        background-color: white;
        background-position: center;
        background-size: 66%;
        width: 34px;
        border: none;
        cursor: pointer;
        box-shadow: 0 1px 2px #0003;
        border: none;
        box-sizing: border-box;
        background-repeat: no-repeat;
    }
}