@import "../../nav-search/styles/mobile.scss";

header {
    background-color: $meli-yellow;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;


    &__logo {
        display: flex;
        justify-content: initial;
        align-items: center;
        margin-left: 24px;
        margin-right: 60px;

        img {
            padding-left: 4px;
        }

    }
}